<!DOCTYPE html>
<html>
<head>
  <title>DropInTheBucket</title>
  <%= stylesheet_link_tag    "drop_in_the_bucket/application", media: "all" %>
  <%= javascript_include_tag "drop_in_the_bucket/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
